body {
  background-color: #000;
  background-image: url(../../assets/img/bg_wide.png);
  position: relative;
  background-repeat: repeat;
  background-size: contain;
}

div.container4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 15em;
  font-size: 3em;
  margin-bottom: 4em;
  padding-left: 1em;
}

.block {
  position: absolute;
  left: 20vw;
  right: 20vw;
  color: white;
  text-align: center;
  vertical-align: middle;
  background: #ffffff96;
  padding: 20px 30px;
  border-radius: 20px;
}

.block h3 {
  color: #cc3333;
  font-size: 1.6em;
}

.block p {
  font-size: 1em;
  color: black;
  line-height: 1em;
}

a,
u {
  text-decoration: none;
}

.btn {
  color: inherit;
  font-family: "retro", sans-serif;
  font-size: 0.5em;
  background-size: contain;
  text-shadow: 1px 1px 0 black;
  padding: 0.6rem 2.2rem;
  border: 3px solid white;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

@media only screen and (orientation: Portrait) {
  body {
    background-image: url("../../assets/img/bg_upper_left.png");
  }

  div.container4 {
    font-size: 2.5em;
    margin-bottom: 4em;
    padding-left: 0em;

  }

  .block {
    left: 5vw;
    right: 5vw;
    padding: 20px;
  }

  .block h3 {
    font-size: 1.0em;
  }

  .block p {
    font-size: 0.8em;
  }

  .btn {
    display: block;
    font-size: 24px;
    margin: 0;
  }
}